.filled-button {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F6F6E9;

    padding: 5px 20px 5px 20px;
    background-color: #FD5F00;
    border: none;
    border-radius: 7px;
    transition-duration: 0.3s;
}

.filled-button:hover{
    cursor: pointer;
    padding: 5px 22px 5px 22px;
}