@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Noto+Sans:wght@400;600&family=Comfortaa:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

.main-content {
    padding-top: 100px;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
}