
.not-found {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-decoration: none;
    color: #454545;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}